<header>
    <nav class="navbar">
       <ul>
        <li><a routerLink="/home"><img src="assets/images/logo/download.png"></a></li>
        <li class="li-banner-font">|</li>
        <li class="li-banner-font">MACTS 2.0</li>
        <!-- <li *ngIf="userService.isUserLoggedIn()" class="li-font"><a routerLink="/search">Search</a></li>
        <li *ngIf="userService.isUserLoggedIn() && userService.role=='ROLE_ADMIN'" class="li-font"><a routerLink="/admin">Admin</a></li> -->
      </ul>
      <ul class="menu-right" *ngIf="userService.isUserLoggedIn()">
        <li><img class="img-icon" src="../../assets/icons/icon-clock.svg"></li>
        <li class="li-font">{{now | date:'HH:mm:ss'}}</li>
        <li><img class="img-icon" src="../../assets/icons/icon-location.svg"></li>
        <li class="li-font">{{city}}</li>
        <li><img class="img-icon" src="../../assets/icons/icon-user.svg"></li>
        <li class="li-font">{{userService.username}}</li>
        <li><img class="img-icon" src="../../assets/icons/icon-chevron.svg"></li>
        <!-- <li class="li-font"><a (click)="userService.logout()" class="nav-link">Logout</a></li> -->
        <li><img class="img-icon" src="../../assets/icons/icon-menu.svg"></li>
      </ul>
    </nav>
  </header>
