.menu-right{
    display: flex!important;
    flex-basis: auto;
    justify-content: flex-end!important;
    line-height: 15px;
}
li{
    color:white;
    align-self: center;
    padding-right: 1.2%
}
.li-font{
    font-family:'lato';
    font-size: 95%;
    color:rgb(187, 187, 187);
}

.li-banner-font{
  font-family:'lato';
  font-size: 125%;
}

nav{
    background-color:black;
}

a{
    color:grey;
    height: 64px;
    width: 250px;
    align-content: left;
    padding: 0%
}
img{
    height:64px;
    width : 100%;
    border:0;
    padding: 0%;
}
