.footer{
    position:absolute;
    bottom:2%;
    width: 100%;
    height: 8%;
}


.footer-right{
    float: right;
}

nav{
    color: black;
    background-color:#acecfc;
}

img{
    padding: 20px;
}
ul{
    height: 20%;
}
